html, body {
height: 100%;
}

header{
  margin: 10px;
  padding:10px;
  background: gray;
}

body{
  margin: 10px;
  padding: 10px;
  background: #A80154;
  font size: 20;
  color: #363636;
  width: 500px;
  height:auto;
  padding: 10px;
  border: 5px solid black;
  margin: 20px;
}


h1, h2, h3 {
  margin:auto;
  padding:inherit;
}
a{
  color: #171717;

}
img {
  margin: auto;
  display: block;

}

#wrapper {
	background: #FFFFFF url(images/gunkitty.jpg) repeat;
}

.container {
	width: 1200px;
	margin: 0px auto;
}
#header-wrapper
{
	overflow: hidden;
	background-size: 100%;
	padding: 6em 0em 2em 0em;
	background: #333333;
}

#header
{
  position: relative;
  overflow: hidden;
  text-align: center;
}
#logo
{
  width: 500px;
  height: 100px;
  margin: 0 auto;
  padding: 2em 0em;
  text-transform: uppercase;
}

#logo h1
{
  letter-spacing: 0.10em;
  font-size: 3em;
}
#banner
{
  overflow: hidden;
  height: 330px;
  background: url(gunkitty.jpg) no-repeat center;
  background-size: cover;
}

#banner .image
{
}

#menu-wrapper
{
	background: #B10058;
}

#menu {
	overflow: hidden;
	height: 100px;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	letter-spacing: 1px;
	padding: 0px 40px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.80em;
	line-height: 100px;
	border: none;
	color: #FFF;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
	background: #C0005F;
}
